body {
	background-color: aliceblue;
	font-family: sans-serif;
}

h1 {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin: 0 auto;
	margin-bottom: 10px;
    display: block;
}


button:hover {
	background-color: #3e8e41;
}

#cat-image {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

img {
	max-width: 500px;
	height: auto;
	border-radius: 20px;
	border: 2px solid rgb(94, 94, 94);
}

@media only screen and (max-width: 600px) {
	/* #header{
		font-size: 20px;
	}

	.github{
		top: 24px;
		left: 2px;
		font-size: 15px;
	}

	form{
		margin-left: 10px;
		margin-right: 10px;
	}

	label{
		font-size: 25px;
	}

	select{
		font-size: 20px;
	}

	button{
		font-size: 30px;
	} */

	img {
		display: flex;
		max-width: 90%;
		max-height: 65vmax;
	}
}
